.card {
    width: 200px;
    margin: 20px;
  }
  
.card-image {
    display: block;
    width: 200px;
    height: 150px;
  }
main{
    text-align: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(130deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: monospace;
}
.button {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
    
    margin: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: white;
    background: rgba(34,193,195,1);
    transition: 0.3s;
    color: black;
    font-family: monospace;
  }
  
.button:hover {
    box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
    transform: scale(1.05);
    background: rgba(253,187,45,1);
  
}

.input{
    font-style: italic;
    font-family: monospace;
}

.output{
    font-style: italic;
    font-family: monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}